@page
@model GatePassManagementSystem.Pages.PersonalGP.ChangeApproverModel


@{
}

<div class="content-wrapper">

    <div class="page-header">
        <h3 class="page-title">By Pass Approval</h3>

        @*<nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Forms</a></li>
                    <li class="breadcrumb-item active" aria-current="page"> Personal Gate Pass </li>
                </ol>
            </nav>*@
    </div>
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"></h4>
                    <form class="form-sample" method="post">
                       
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">From Date</label>
                                    <div class="col-sm-9">
                                        <input type="date" class="form-control"  />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">From Time</label>
                                    <div class="col-sm-9">
                                        <input type="time" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">To Date</label>
                                    <div class="col-sm-9">
                                        <input type="date" class="form-control"  />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">To Time</label>
                                    <div class="col-sm-9">
                                        <input type="time" class="form-control"  />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName1">Select Person to By Pass Approval</label>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            @Html.CheckBox("chkSuga", new { @class = "form-check-input" }) Mr. Sugath
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            @Html.CheckBox("chkDhar", new { @class = "form-check-input" }) Mr. Dharmapriya
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            @Html.CheckBox("chkThus", new { @class = "form-check-input" }) Mr. Thusitha
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            @Html.CheckBox("chkRuwa", new { @class = "form-check-input" }) Mr. Ruwan
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            @Html.CheckBox("chkRoha", new { @class = "form-check-input" }) Mr. Rohan
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            @Html.CheckBox("chkDami", new { @class = "form-check-input" }) Mr. Damith
                                        </label>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <button type="submit" class="btn btn-primary mr-2"> Submit </button>
                        <button class="btn btn-light" asp-page="/Index">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
