@page
@model GatePassManagementSystem.Pages.PersonalGP.GatePassListMgtPendingModel


@using Microsoft.AspNetCore.Http;
@using GatePassManagementSystem.Model;

<div class="content-wrapper pb-0">
    <div class="page-header flex-wrap">

        <div class="header-right d-flex flex-wrap mt-2 mt-sm-0">
            <div class="d-flex align-items-center">
                <a href="#">
                    <p class="m-0 pr-3">Gate Pass List</p>
                </a>
                <a class="pl-3 mr-4" href="#"></a>
            </div>
            @{

                var httpContext = ViewContext.HttpContext;
                int Uid = Convert.ToInt32(httpContext.Session.GetString("UserId"));
                int roleId = Convert.ToInt32(httpContext.Session.GetString("Roleid"));
                var deptId = Convert.ToInt32(HttpContext.Session.GetString("DepartId"));

                if (roleId == 1 || roleId == 3 || Uid == 4 || Uid == 31 || Uid == 90 || Uid == 145 || Uid == 56)
                {

                }
                else if (Uid != 4 || Uid != 31 || Uid != 90 || Uid != 145 || Uid != 56 || roleId == 6 || roleId == 5 || roleId == 4)
                {
                <a class="btn btn-primary mt-2 mt-sm-0 btn-icon-text" asp-area="" asp-page="/PersonalGP/CreatePGP">
                    <i class="mdi mdi-plus-circle"></i>Create new gate pass
                </a>
                }

            }
        </div>
    </div>
    <script>
        function myFunction() {
            window.location.href = "https://localhost:44341/PersonalGP/CreatePGP";
        }
    </script>
    <div class="row">

        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <form method="post" asp-page-handler="ApproveChange">
                        <h4 class="card-title">Pending gate passes</h4>
                        <p class="card-description">
                            <code>Management approval pending list</code>
                        </p>
                        @if (Model.PersonalGPs != null && Model.PersonalGPs.Any())
                        {

                            <div class="table-responsive">
                                <table class="table table-hover table-bordered">
                                    <thead>
                                        <tr class="bg-dark">
                                            <th class="text-white font-weight-bold">Gate Pass No.</th>
                                            <th class="text-white font-weight-bold">Date Requestd</th>
                                            <th class="text-white font-weight-bold">Reason</th>
                                            <th class="text-white font-weight-bold">Description</th>
                                            @if (deptId == 1 || deptId == 2 || deptId == 3 || deptId == 4 || deptId == 5 || deptId == 6 || deptId == 7 || deptId == 11 || deptId == 13 || deptId == 14 || deptId == 15 || deptId == 16 || deptId == 17 || deptId == 18 || deptId == 21 || deptId == 23 || deptId == 24 || deptId == 25 || deptId == 26 | deptId == 27 || deptId == 28)
                                            {
                                                <th class="text-white font-weight-bold">HOD Approval</th>
                                            }

                                            <th class="text-white font-weight-bold">Management Approval</th>
                                            <th class="text-white font-weight-bold text-center">Status</th>
                                            <th class="text-white font-weight-bold text-center">Change management approval</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in Model.PersonalGPs)
                                        {
                                            int chAprl = Model.Db.PersonalGP.Where(gp => gp.PersonalGPId == item.PersonalGPId).Select(gp => gp.ChApprvlId).FirstOrDefault();
                                            //int chgGmint = Model.Db.Department.Where(gp => gp.Id == chAprl).Select(gp => gp.Id).FirstOrDefault();
                                            string chgGm = Model.Db.Department.Where(gp => gp.Id == item.ChApprvlId).Select(gp => gp.Gm).FirstOrDefault();

                                            <tr>
                                                <td>@Html.DisplayFor(m => item.PersonalGPId)</td>
                                                <td>@Html.DisplayFor(m => item.CreateDate)</td>
                                                <td>
                                                    @if (item.ChkHalfd == true)
                                                    {
                                                        <p>Half Day</p>
                                                    }
                                                    else if (item.ChkLunch == true)
                                                    {
                                                        <p>Lunch</p>
                                                    }
                                                    else if (item.ChkMadu == true)
                                                    {
                                                        <p>Madupitiya</p>
                                                    }
                                                    else if (item.ChkOther == true)
                                                    {
                                                        <p>Other</p>
                                                    }
                                                    else if (item.ChkShrt == true)
                                                    {
                                                        <p>Short Leave</p>
                                                    }
                                                    else if (item.ChkSinthawatta == true)
                                                    {
                                                        <p>Sinthawatta</p>
                                                    }
                                                    else if (item.ChkCusVisit == true)
                                                    {
                                                        <p>Customer Visit</p>
                                                    }
                                                    else if (item.ChkOfficialwork == true)
                                                    {
                                                        <p>Official Work</p>
                                                    }
                                                    else if (item.ChkPamunugama == true)
                                                    {
                                                        <p>Pamunugama</p>
                                                    }
                                                </td>
                                                <td>@Html.DisplayFor(m => item.Description)</td>
                                                @if (deptId == 1 || deptId == 2 || deptId == 3 || deptId == 4 || deptId == 5 || deptId == 6 || deptId == 7 || deptId == 11 || deptId == 13 || deptId == 14 || deptId == 15 || deptId == 16 || deptId == 17 || deptId == 18 || deptId == 21 || deptId == 23 || deptId == 24 || deptId == 25 || deptId == 26 || deptId == 27 || deptId == 28)
                                                {
                                                    <td>
                                                        <label>@TempData["hod"]</label> <br />
                                                        @if (item.AShod == "A" && item.ChkifDeptHeadUn == true)
                                                        {
                                                            <label class="badge badge-secondary mt-2">Approval ByPass</label>
                                                        }
                                                        else if (item.AShod == "A" && item.ChkifDeptHeadUn == false)
                                                        {
                                                            <label class="badge badge-success mt-2">Acknowledged</label>
                                                        }
                                                        else if (item.AShod == "R")
                                                        {
                                                            <label class="badge badge-danger mt-2">Rejected</label>
                                                        }
                                                        else
                                                        {
                                                            <label class="badge badge-warning mt-2">Not acknowledged</label>
                                                        }
                                                    </td>
                                                }

                                                <td>
                                                    @if (item.ChApprvlId == 0)
                                                    {
                                                        <label>@TempData["gm"]</label> <br />
                                                    }
                                                    else
                                                    {
                                                        <label>@chgGm</label> <br />
                                                    }
                                                    <br />
                                                    @if (deptId == 10)
                                                    {
                                                        @if (item.ASmd == "A")
                                                        {
                                                            <label class="badge badge-success mt-2">Approved</label>
                                                        }
                                                        else if (item.ASmd == "R")
                                                        {
                                                            <label class="badge badge-danger mt-2">Rejected</label>
                                                        }
                                                        else
                                                        {
                                                            <label class="badge badge-warning mt-2">Not Approved</label>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        @if (item.ASdgm == "A")
                                                        {
                                                            <label class="badge badge-success mt-2">Approved</label>
                                                        }
                                                        else if (item.ASdgm == "R")
                                                        {
                                                            <label class="badge badge-danger mt-2">Rejected</label>
                                                        }
                                                        else
                                                        {
                                                            <label class="badge badge-warning mt-2">Not Approved</label>
                                                        }
                                                    }

                                                </td>
                                                <td class="text-right">
                                                    @if (item.AShod == "A" && item.ASdgm == "A" && item.ASguard == "A")
                                                    {
                                                        <label class="badge badge-success mt-2">Completed</label>
                                                    }
                                                    else if (item.AShod == "R" || item.ASdgm == "R")
                                                    {
                                                        <label class="badge badge-danger mt-2">Rejected</label>
                                                    }
                                                    else
                                                    {
                                                        <label class="badge badge-warning mt-2">Pending</label>
                                                    }
                                                    @*<label class="badge badge-danger" style="width: 75px">Pending</label>*@
                                                    <a data-toggle="modal" data-target="#exampleModal-@item.PersonalGPId">
                                                        <label class="badge badge-info" style="width: 75px; cursor: pointer">View</label>
                                                    </a>
                                                </td>
                                                <td>
                                                    <select asp-for="PersonalGPB.ChApprvlId" asp-items="@(new SelectList(Model.Aprvlist, "deptId", "FullName"))" class="form-control">
                                                    </select>
                                                    <div>
                                                        <input type="hidden" name="Id" value="@item.Id" />
                                                        <button type="submit" class="btn btn-primary" style="margin-top:5px;">Save</button>
                                                    </div>

                                                    @*<select asp-for="Model.PersonalGPs[i].PersonalGPB.ChApprvlId" asp-items="@(new SelectList(Model.Aprvlist, "deptId", "FullName"))" class="form-control">
                                                    </select>
                                                    <div>
                                                        <input type="hidden" name="Model.PersonalGPs.Index" value="@i" />
                                                        <button type="submit" class="btn btn-primary" style="margin-top:5px;">Save</button>
                                                    </div>*@

                                                </td>

                                            </tr>
                                            <div class="modal fade" id="exampleModal-@item.PersonalGPId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-lg" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Personal gate pass</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">

                                                            <div class="row">

                                                                <div class="col-md-6">
                                                                    <div class="card stretch-card mb-3">
                                                                        <div class="card-body d-flex flex-wrap justify-content-between">
                                                                            <div>
                                                                                <h4 class="font-weight-semibold mb-1 text-black">@Html.DisplayFor(m => item.PersonalGPId)</h4>
                                                                                <h6 class="text-muted">@Html.DisplayFor(m => item.CreateDate)</h6>
                                                                            </div>
                                                                            @*<label class="badge badge-danger text-align:right" style="width: 250px; text-wrap: balance">Guard room acknowledgement pending</label>*@
                                                                        </div>
                                                                    </div>

                                                                    <div class="card">
                                                                        <div class="card-body">
                                                                            <div class="forms-sample">
                                                                                <div class="form-group">
                                                                                    <label for="exampleInputUsername1">Requested User</label>
                                                                                    <input type="text" class="form-control" asp-for="Fullname" readonly="readonly">
                                                                                </div>

                                                                                <div class="form-group">
                                                                                    <label for="exampleInputUsername1">Department</label>
                                                                                    <input type="text" class="form-control" asp-for="deptName" readonly="readonly">
                                                                                </div>

                                                                                <div class="form-group">
                                                                                    <label for="exampleInputUsername1">Reason</label>
                                                                                    <div class="form-group row">
                                                                                        @{ bool isHalfDayChecked = item.ChkHalfd == true;
                                                                                            bool isLunchChecked = item.ChkLunch == true;
                                                                                            bool isShortLeaveChecked = item.ChkShrt == true;
                                                                                            bool isMadupitiyaChecked = item.ChkMadu == true;
                                                                                            bool isOtherChecked = item.ChkOther == true;
                                                                                            bool isSinthawattaChecked = item.ChkSinthawatta == true;
                                                                                            bool isOfficialChecked = item.ChkOfficialwork == true;
                                                                                            bool isCustChecked = item.ChkCusVisit == true;
                                                                                            bool isPamunuChecked = item.ChkPamunugama == true; }

                                                                                        <div class="col-sm-3">
                                                                                            <div class="form-check">
                                                                                                <label class="form-check-label">
                                                                                                    <input type="radio" class="form-check-input" name="membershipRadios1" id="membershipRadios1" @(isHalfDayChecked ? "checked" : "") disabled>
                                                                                                    Half Day<i class="input-helper"></i>
                                                                                                </label>
                                                                                            </div>
                                                                                        </div>

                                                                                        <div class="col-sm-3">
                                                                                            <div class="form-check">
                                                                                                <label class="form-check-label">
                                                                                                    <input type="radio" class="form-check-input" name="membershipRadios2" id="membershipRadios2" @(isLunchChecked ? "checked" : "") disabled>
                                                                                                    Lunch<i class="input-helper"></i>
                                                                                                </label>
                                                                                            </div>
                                                                                        </div>

                                                                                        <div class="col-sm-3">
                                                                                            <div class="form-check">
                                                                                                <label class="form-check-label">
                                                                                                    <input type="radio" class="form-check-input" name="membershipRadios3" id="membershipRadios3" @(isShortLeaveChecked ? "checked" : "") disabled>
                                                                                                    Short Leave<i class="input-helper"></i>
                                                                                                </label>
                                                                                            </div>
                                                                                        </div>

                                                                                        <div class="col-sm-3">
                                                                                            <div class="form-check">
                                                                                                <label class="form-check-label">
                                                                                                    <input type="radio" class="form-check-input" name="membershipRadios4" id="membershipRadios4" @(isMadupitiyaChecked ? "checked" : "") disabled>
                                                                                                    Madupitiya<i class="input-helper"></i>
                                                                                                </label>
                                                                                            </div>
                                                                                        </div>

                                                                                        <div class="col-sm-3">
                                                                                            <div class="form-check">
                                                                                                <label class="form-check-label">
                                                                                                    <input type="radio" class="form-check-input" name="membershipRadios5" id="membershipRadios5" @(isOtherChecked ? "checked" : "") disabled>
                                                                                                    Other<i class="input-helper"></i>
                                                                                                </label>
                                                                                            </div>
                                                                                        </div>

                                                                                        <div class="col-sm-3">
                                                                                            <div class="form-check">
                                                                                                <label class="form-check-label">
                                                                                                    <input type="radio" class="form-check-input" name="membershipRadios6" id="membershipRadios6" @(isSinthawattaChecked ? "checked" : "") disabled>
                                                                                                    Sinthawatta<i class="input-helper"></i>
                                                                                                </label>
                                                                                            </div>
                                                                                        </div>

                                                                                        <div class="col-sm-3">
                                                                                            <div class="form-check">
                                                                                                <label class="form-check-label">
                                                                                                    <input type="radio" class="form-check-input" name="membershipRadios7" id="membershipRadios7" @(isOfficialChecked ? "checked" : "") disabled>
                                                                                                    Official Work<i class="input-helper"></i>
                                                                                                </label>
                                                                                            </div>
                                                                                        </div>

                                                                                        <div class="col-sm-3">
                                                                                            <div class="form-check">
                                                                                                <label class="form-check-label">
                                                                                                    <input type="radio" class="form-check-input" name="membershipRadios8" id="membershipRadios8" @(isCustChecked ? "checked" : "") disabled>
                                                                                                    Customer Visit<i class="input-helper"></i>
                                                                                                </label>
                                                                                            </div>
                                                                                        </div>

                                                                                        <div class="col-sm-3">
                                                                                            <div class="form-check">
                                                                                                <label class="form-check-label">
                                                                                                    <input type="radio" class="form-check-input" name="membershipRadios9" id="membershipRadios9" @(isPamunuChecked ? "checked" : "") disabled>
                                                                                                    Pamunugama <i class="input-helper"></i>
                                                                                                </label>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group row">

                                                                                    </div>
                                                                                </div>

                                                                                <div class="form-group">
                                                                                    <textarea class="form-control" id="exampleTextarea1" rows="4" readonly="readonly">@Html.DisplayFor(m => item.Description)</textarea>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-6">

                                                                    <div class="card">
                                                                        <div class="card-body">
                                                                            <div class="forms-sample">
                                                                                @if (deptId == 1 || deptId == 2 || deptId == 3 || deptId == 4 || deptId == 5 || deptId == 6 || deptId == 7 || deptId == 11 || deptId == 13 || deptId == 14 || deptId == 15 || deptId == 16 || deptId == 17 || deptId == 18 || deptId == 21 || deptId == 23 || deptId == 24 || deptId == 25 || deptId == 26 || deptId == 27 || deptId == 28)
                                                                                {
                                                                                    <div class="form-group" style="margin-bottom:0px!important">
                                                                                        <label for="exampleInputUsername1">HOD acknowledgement</label>
                                                                                        <input type="text" class="form-control" asp-for="DeptHead" readonly="readonly">
                                                                                    </div>
                                                                                    <div class="form-check">
                                                                                        @if (item.AShod == "A")
                                                                                        {
                                                                                            <label class="badge badge-success">Acknowledged</label>
                                                                                        }
                                                                                        else if (item.AShod == "R")
                                                                                        {
                                                                                            <label class="badge badge-danger">Rejected</label>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <label class="badge badge-warning">Not acknowledged</label>
                                                                                        }
                                                                                    </div>
                                                                                }

                                                                                <div class="form-group" style="margin-bottom:0px!important; margin-top:20px!important">
                                                                                    <label for="exampleInputUsername1">Management Approval</label>
                                                                                    @if (chAprl == 0)
                                                                                    {
                                                                                        @if (deptId == 7)
                                                                                        {
                                                                                            <input type="text" class="form-control" value="Mr. Thusitha" id="txtApproval" readonly />
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <input type="text" class="form-control" asp-for="DeptGm" id="txtApproval" readonly />
                                                                                        }
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <input type="text" class="form-control" asp-for="@chgGm" id="txtApproval" readonly />
                                                                                    }

                                                                                </div>
                                                                                <div class="form-check">
                                                                                    @if (item.ASdgm == "A")
                                                                                    {
                                                                                        <label class="badge badge-success mt-2">Approved</label>
                                                                                    }
                                                                                    else if (item.ASdgm == "R")
                                                                                    {
                                                                                        <label class="badge badge-danger mt-2">Rejected</label>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <label class="badge badge-warning mt-2">Not Approved</label>
                                                                                    }
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                           
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        }

                                    </tbody>

                                </table>

                            </div>


                        }
                        else
                        {
                            <p>No Gate Passes Available</p>
                        }
                    </form>

                    @*<div class="form-group">
                        <label label for="exampleInputEmail3">Change management approval if not available</label>
                        <select asp-for="PersonalGPB.ChApprvlId" asp-items="@(new SelectList(Model.Aprvlist, "deptId", "FullName"))" class="form-control" id="workerDropdown">
                        </select>
                    </div>*@

                </div>
            </div>
        </div>

    </div>

</div>
