@page
@model GatePassManagementSystem.Pages.PersonalGP.GMCreateGPModel

@{
    Layout = "_Layout";
}

@using Microsoft.AspNetCore.Http;

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<div class="content-wrapper">

    <div class="page-header">
        <h3 class="page-title">Personal Gate Pass</h3>

        @*<nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Forms</a></li>
                    <li class="breadcrumb-item active" aria-current="page"> Personal Gate Pass </li>
                </ol>
            </nav>*@
    </div>
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <form method="post">
                    <div class="card-body">
                        <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                <label>Gate Pass No.</label>
                                <input type="text" asp-for="PersonalGP.PersonalGPId" id="getGPId" class="form-control" readonly />
                                <input type="hidden" asp-for="GPId" name="GPId" id="GPId" class="form-control" />
                            </div>
                        </div>
                        <h4 class="card-title" style="margin-top:20px;">Request a Gate Pass</h4>
                        <div class="forms-sample col-12">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <div class="form-group">
                                       
                                            <select asp-for="PersonalGP.UserId" asp-items="@(new SelectList(Model.StaffList, "Id", "FullNameAndEPFNo"))" class="form-control" id="workerDropdown">
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="exampleSelectGender">Department</label>
                                        @*@Html.DropDownListFor(model => model.PersonalGP.DepId, new SelectList(Model.deplist, "Id", "DeptName"), new { @class = "form-control" })*@
                                        <select asp-for="PersonalGP.DepId" asp-items="@(new SelectList(Model.deptList, "Id", "DeptName"))" class="form-control" id="workerDropdown">
                                        </select>
                                        
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputName1">Reason</label>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        @Html.CheckBox("chkLunch", new { @class = "form-check-input" }) Lunch
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        @Html.CheckBox("chkSinthawatta", new { @class = "form-check-input" }) Sinthawaththa
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        @Html.CheckBox("chkHalfd", new { @class = "form-check-input" }) Half Day
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        @Html.CheckBox("chkMadu", new { @class = "form-check-input" }) Madupitiya
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        @Html.CheckBox("chkShrt", new { @class = "form-check-input" }) Short Leave
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        @Html.CheckBox("chkCusVisit", new { @class = "form-check-input" }) Customer Visit
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        @Html.CheckBox("chkOther", new { @class = "form-check-input" })  Other
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        @Html.CheckBox("chkOfficial", new { @class = "form-check-input" })  Official Work
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        @Html.CheckBox("chkPam", new { @class = "form-check-input" })  Pamunugama
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <script>
                                        $(document).ready(function () {
                                            $('.form-check-input').on('change', function () {
                                                $('.form-check-input').not(this).prop('checked', false);
                                            });
                                        });

                                    </script>
                                    <div class="form-group">
                                        <label for="exampleTextarea1">Description</label>

                                        <textarea class="form-control"
                                                  id="txtDesc" asp-for="PersonalGP.Description"
                                                  rows="4"></textarea>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="exampleInputEmail3">Management Approval</label>
                                        
                                        <input type="text" class="form-control" asp-for="Fullname" id="txtApproval" readonly />
                                    </div>
                                    
                                </div>
                            </div>
                            <script>

                                window.onload = myFunctionGet;
                                function myFunctionGet() {
                                    var val = document.getElementById('GPId').value;
                                    getGPId.value = val;
                                }

                            </script>

                            <button type="submit" class="btn btn-primary mr-2">Submit </button>
                            <button class="btn btn-light">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>